In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("dataset.csv")
df.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [15]:
df[df["original_language"]=="hi"]

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
248,26022,My Name Is Khan,"Drama,Romance",hi,"Rizwan Khan, a Muslim from the Borivali sectio...",31.328,2010-02-10,8.1,1041
307,7508,Like Stars on Earth,Drama,hi,Ishaan Awasthi is an eight-year-old whose worl...,29.107,2007-12-21,8.0,856
327,360814,Dangal,"Drama,Action",hi,Dangal is an extraordinary true story based on...,11.406,2016-12-21,8.0,714
347,20453,3 Idiots,"Drama,Comedy",hi,Rascal. Joker. Dreamer. Genius... You've never...,47.970,2009-12-23,8.0,1865
467,348892,Bajrangi Bhaijaan,"Action,Comedy,Drama",hi,A young mute girl from Pakistan loses herself ...,9.579,2015-07-17,7.9,362
519,352173,Drishyam,"Crime,Drama,Thriller,Mystery",hi,"A simple, street-smart man tries to protect hi...",6.715,2015-07-30,7.9,270
553,10757,Kabhi Khushi Kabhie Gham,"Comedy,Drama",hi,Years after his father disowns his adopted bro...,16.124,2001-12-14,7.8,432
810,11854,Kuch Kuch Hota Hai,"Romance,Drama",hi,Anjali is left heartbroken when her best frien...,12.136,1998-10-16,7.7,313
821,534780,Andhadhun,"Crime,Thriller,Comedy",hi,A series of mysterious events changes the life...,9.813,2018-10-05,7.7,345
823,297222,PK,"Comedy,Drama,Adventure",hi,A stranger in the city asks questions no one h...,9.750,2014-12-18,7.7,754
995,15917,Devdas,"Drama,Romance",hi,Devdas is sent away by his father so he can im...,10.886,2002-07-11,7.6,264
1108,61202,Zindagi Na Milegi Dobara,"Drama,Comedy,Romance",hi,Three friends who were inseparable in childhoo...,5.723,2011-07-15,7.6,260
1198,127501,Barfi!,"Drama,Romance,Comedy",hi,He is cute. He's shrewd. The girls love him. T...,7.897,2012-09-13,7.5,245
1334,4254,Kal Ho Naa Ho,"Comedy,Drama",hi,"Naina, an introverted, perpetually depressed g...",8.804,2003-11-27,7.5,299
1512,4251,Veer-Zaara,"Drama,Romance",hi,"Squadron Leader Veer Pratap Singh, a pilot in ...",9.734,2004-11-12,7.5,205
1595,247645,Queen,"Comedy,Drama",hi,"Rani, a 24-year-old homely girl, decides to go...",6.496,2014-03-07,7.4,216
1657,15774,Swades,Drama,hi,NASA employee Mohan Bhargav comes to India to ...,6.299,2004-12-17,7.4,244
1906,19666,Lagaan: Once Upon a Time in India,"Adventure,Romance,Drama",hi,"In 1890s India, an arrogant British commander ...",7.110,2001-06-15,7.3,434
1960,362045,Bajirao Mastani,"War,History,Romance",hi,"Peshwa Bajirao married to Kashibai, falls in l...",11.094,2015-12-18,7.3,216
1981,14163,Chak De! India,Drama,hi,A team of rag-tag girls with their own agenda ...,7.350,2007-08-10,7.3,244
2086,191714,The Lunchbox,"Drama,Romance",hi,A mistaken delivery in Mumbai's famously effic...,7.795,2013-09-20,7.3,557
2095,82825,Kahaani,"Mystery,Thriller",hi,"Pregnant and alone in the city of Kolkata, a w...",5.105,2012-03-08,7.3,237
2104,19625,Munna Bhai M.B.B.S.,"Comedy,Drama",hi,A gangster sets out to fulfill his father's dr...,7.131,2003-12-19,7.3,213
2331,7913,Rang De Basanti,"Comedy,Drama,History",hi,After a group of friends graduate from Delhi U...,8.472,2006-01-26,7.2,334
2547,117691,Gangs of Wasseypur - Part 1,"Action,Thriller,Crime",hi,Shahid Khan is exiled after impersonating the ...,7.416,2012-06-22,7.2,267
2601,118628,English Vinglish,"Comedy,Drama,Family",hi,"In the United States for the first time, an In...",6.019,2012-09-21,7.2,207
2840,19703,A Wednesday!,"Drama,Thriller",hi,A retired police commissioner recounts the mos...,7.412,2008-09-05,7.1,233
2952,14072,Rab Ne Bana Di Jodi,"Comedy,Drama,Romance",hi,"A lonely 40-ish man, likely to remain a bachel...",10.126,2008-12-11,7.1,209
3039,12259,Sholay,Action,hi,After his family is murdered by a notorious an...,8.075,1975-08-15,7.1,206
3173,8079,Om Shanti Om,"Comedy,Thriller,Drama",hi,Reincarnated 30 years after being killed in a ...,11.206,2007-11-07,7.0,257
3258,14752,Dil Chahta Hai,"Drama,Romance",hi,Three inseparable childhood friends are just o...,7.781,2001-07-24,7.0,217
3320,14070,Ghajini,"Action,Romance,Thriller",hi,A man suffering from anterograde amnesia as a ...,9.538,2008-12-25,7.0,312
3591,432527,Padmaavat,"Drama,History,Romance",hi,"Rajputana, India, 13th century. The tyrannical...",7.490,2018-01-25,6.9,207
5085,205022,Chennai Express,"Romance,Comedy,Action",hi,Rahul embarks on a journey to a small town in ...,10.185,2013-08-08,6.6,253
5243,370665,Dilwale,"Crime,Action,Comedy",hi,Raj is a Mafia member. One day he meet a girl ...,9.242,2015-12-18,6.6,243
6091,377985,Fan,"Action,Drama,Thriller",hi,A man who bears a striking resemblance to a re...,6.489,2016-04-14,6.4,202
7582,44977,Dhoom 3,"Action,Crime,Thriller",hi,"To avenge his father's death, a circus enterta...",10.046,2013-12-19,6.1,221
8959,41517,Ra.One,"Adventure,Action,Science Fiction",hi,"Following his son's suggestion, a video game d...",5.263,2011-10-24,5.6,262

In [3]:
df.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

In [5]:
df.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
df.isnull().sum()

id                   0
title                0
genre                0
original_language    0
overview             0
popularity           0
release_date         0
vote_average         0
vote_count           0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [45]:
movies=df[["id","title","overview","genre","original_language"]]
movies

,id,title,overview,genre,original_language
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",en
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance",hi
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime",en
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War",en
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime",en
...,...,...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...","Action,Adventure,Fantasy",en
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventure",en
9997,13995,Captain America,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,War",en
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,Drama",en
9999,455957,Domino,Seeking justice for his partner’s murder by an...,"Thriller,Action,Crime",en

In [46]:
movies["tags"]=movies["original_language"]+" "+movies["genre"]+" "+movies["overview"]

C:\Users\amrit\AppData\Local\Temp\ipykernel_23848\284257537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["tags"]=movies["original_language"]+" "+movies["genre"]+" "+movies["overview"]

In [47]:
movies

,id,title,overview,genre,original_language,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",en,"en Drama,Crime Framed in the 1940s for the dou..."
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance",hi,"hi Comedy,Drama,Romance Raj is a rich, carefre..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime",en,"en Drama,Crime Spanning the years 1945 to 1955..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War",en,"en Drama,History,War The true story of how bus..."
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime",en,"en Drama,Crime In the continuing saga of the C..."
...,...,...,...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...","Action,Adventure,Fantasy",en,"en Action,Adventure,Fantasy The story follows ..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,"en Action,TV Movie,Science Fiction,Comedy,Adve..."
9997,13995,Captain America,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,War",en,"en Action,Science Fiction,War During World War..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,Drama",en,"en Adventure,Fantasy,Action,Drama A man named ..."
9999,455957,Domino,Seeking justice for his partner’s murder by an...,"Thriller,Action,Crime",en,"en Thriller,Action,Crime Seeking justice for h..."

In [48]:
movies_df=movies.drop(["genre","overview","original_language"],axis=1)
movies_df

,id,title,tags
0,278,The Shawshank Redemption,"en Drama,Crime Framed in the 1940s for the dou..."
1,19404,Dilwale Dulhania Le Jayenge,"hi Comedy,Drama,Romance Raj is a rich, carefre..."
2,238,The Godfather,"en Drama,Crime Spanning the years 1945 to 1955..."
3,424,Schindler's List,"en Drama,History,War The true story of how bus..."
4,240,The Godfather: Part II,"en Drama,Crime In the continuing saga of the C..."
...,...,...,...
9995,10196,The Last Airbender,"en Action,Adventure,Fantasy The story follows ..."
9996,331446,Sharknado 3: Oh Hell No!,"en Action,TV Movie,Science Fiction,Comedy,Adve..."
9997,13995,Captain America,"en Action,Science Fiction,War During World War..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,"en Adventure,Fantasy,Action,Drama A man named ..."
9999,455957,Domino,"en Thriller,Action,Crime Seeking justice for h..."

In [14]:
movies_df.iloc[3715]

id                                                   15927
title                                   A Passage to India
tags     Drama,Adventure,History Set during the period ...
Name: 3716, dtype: object

In [49]:
from sklearn.feature_extraction.text import CountVectorizer

In [50]:
cv=CountVectorizer(max_features=10000,stop_words='english')

In [51]:
vector=cv.fit_transform(movies_df["tags"].values.astype('U')).toarray()

In [52]:
vector.shape

(9985, 10000)

In [53]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [54]:
from sklearn.metrics.pairwise import cosine_similarity

In [55]:
similar=cosine_similarity(vector)

In [56]:
similar[0][0:3]

array([1.        , 0.05479966, 0.15249857])

In [57]:
distance=sorted(list(enumerate(similar[1])),reverse=True,key=lambda vector:vector[1])

In [58]:
for i in distance[0:6]:
    print(movies_df.iloc[i[0]].title)

Dilwale Dulhania Le Jayenge
A Passage to India
Padmaavat
The Manual of Love
Bajrangi Bhaijaan
Bajirao Mastani

In [64]:
def recommend(movies):
    index=movies_df[movies_df["title"]==movies].index[0]
    distance=sorted(list(enumerate(similar[index])),reverse=True,key=lambda vector:vector[1])
    for i in distance[0:6]:
        print(movies_df.iloc[i[0]].title)

In [65]:
recommend("Dilwale Dulhania Le Jayenge")

Dilwale Dulhania Le Jayenge
A Passage to India
Padmaavat
The Manual of Love
Bajrangi Bhaijaan
Bajirao Mastani

In [70]:
import pickle

In [71]:
pickle.dump(movies_df,open("movies.pkl","wb"))
pickle.dump(similar,open("similar.pkl","wb"))

In [69]:
recommend("Kabhi Khushi Kabhie Gham")

Kabhi Khushi Kabhie Gham
Just My Luck
Rab Ne Bana Di Jodi
Benny & Joon
Bajrangi Bhaijaan
Old Yeller